/*
    Box-sizing
        -É o responsável pelo calculo do tamanho total da caixa;
        -content-box|border-box

            Margin: Espaço fora da box;
            Padding: Preenchimento interno;
*/

div{
    width: 100px; /* O width está sendo aplicado ao conteúdo da caixa */
    height: 100px;
    border: 1px solid red;
    margin: 10px;
    padding: 0 20px; /* Quando colocamos 20px de preenchimento interno nas laterais, a caixa soma os 20px em ambos lados e com isso temos 140px nas laterais */
    box-sizing: border-box; /* Aplica o padding mas faz com que a caixa apenas 100px deixando de somar os 20px em ambos lados */
}