/*
    Box-sizing
        -É o responsável pelo calculo do tamanho total da caixa;

            Margin: Espaço fora da box;
            Padding: Preenchimento interno;
*/

div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}