/* 
    display: block; vs display: inline;

    Block:
*    -Ocupa toda a linha, colocando o próximo elemento abaixo desse;
*    -width e height são respeitados;
*    -padding, margin e border irão funcionar normalmente;
?    Exemplo do que se pode usar: block: <p>, <div>, <section>, <h1><h2>...
======================================================================
    Inline:
*    -Elemento ao lado do outro;
*    -width e height não funcionam;
*    -Somente valores horizontais de margin, padding e border;
?    Exemplo do que se pode usar: inline: <a>, <strong>, <span>, <em>
 */

* {
  font-size: 60px;
}

div {
  color: green;
  margin: 20px; /* Vai empurrar pra baixo e pros lados */
  /* ?height: 100px; Vai empurrar tudo pra baixo porque ele respeita a largura/altura */
  /* width: 10px; */
  /* border: 1px solid green; */
  /* ?display: inline; /* Vai mudar o comportamento de "block" para "inline" */
}
span {
  color: yellow;
  margin: 20px; /* Não vai empurar pra baixo, apenas pros lados */
  /* ?height:100px; Não vai empurrar tudo pra baixo porque ele não respeita a largura/altura */
  /* border: 1px solid yellow; */
  /* ?display: block;  Vai mudar o comportamento de "inline" para "block" */
}
