/*
    Seletores
        -Conecta um elemento HTML com o CSS a fim de alterar o elemento

    Tipos:
        *-Element selector
            -Todos os elementos do HTML
        *-ID selector << Usa #
            -Um elemento que tenha o atributo "id"
            -Cada id deverá ser único
        *-Class Selector << Usa .
            -Os elementos que contenham um atributo "class"
            -Podemos ter uma ou mais classes
        *-Attribute selector
            -Um elemento que tenha um atributo específico
           ? https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors
        *-Pseudo class selector
            -Elementos em um estado específico

    Múltiplos
        -Você poderá selecionar múltiplos elementos e aplicar alguma regra CSS para todos eles.
        -Usamos uma separação por virgula

    Podemos usar ID junto com CLASS (Acho que não é recomendado porque pode ficar confuso)
*/

/* ELEMENT SELECTOR */
h1 {
  color: green;
}

/* ID SELECTOR */
#subtitle {
  color: red;
}

/* CLASS SELECTOR */
.teste {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blueviolet;
}

/* ATTRIBUTE SELECTOR */
[title] {
  color: brown;
}

/* PSEUDO CLASS SELECTOR */
