/*
    ?Combinators
        -Combinadores, pois eles trabalham para buscar e combinar seletores a fim de aplicar uma estilização
    
    ?Descendant Combinator
        *-Identificado por um espaço entre seletores
        *-Busca um elemento dentro do outro

        *CSS:
            body article h2{
            }

    ?Child Combinators
        *-Identificado pelo sinal ">" entre dois seletores
        *-Seleciona apenas o elemento que é filho direto do pai
        *-Elemento depois do filho direto serão desconsiderados

        *CSS
            body > ul > li

    ?Adjacent sibiling combinator
        *-Identificado pelo sinal "+" entre dois seletores
        *-Seleciona somente o elemento do lado direito que é irmão direto na hierarquia

        *CSS
            h1 + p

    ?General sibiling combinator
        *-Identificado pelo sinal "~" entre dois seletores
        *-Seleciona todos os elementos irmãos

        *CSS
            h1 ~ p
*/

/* Descendant Combinator (Regra sendo aplicada para todos os H2 que estiverem dentro de um ARTICLE dentro do BODY */
body article h2 {
  color: rebeccapurple;
}

/* Child Combinators (Vai pegar só o primeiro LI dentro do UL que está em baixo do BODY, se colocarmos qualquer coisa em cima desse UL e LI, não vai funcionar, o resto do código é desconsiderado) */
body > ul > li {
  color: green;
}

/* Adjacent sibiling combinator (Só vai pegar a parte direita após o "+" ou seja, vai pegar apenas o P que é irmão direto do H1 [nesse caso, o primeiro P]) */
h1 + p {
  color: red;
}

/* Vai colocar o margin no botão do lado DIREITO do "+" [ou seja, o último botão] */
button + button {
  margin-left: 32px;
}

/* General sibiling combinator (Vai pegar todos os irmãos nesse caso, os P's e vai mudar todos, ignorando o lado esquerdo do "~" [h3] */
h3 ~ p {
  color: yellow;
}
