/*
    Pseudo Classes
        -É um tipo de seletor que irá selecionar um elemento que estiver em um estado específico

        Exemplo: É o primeiro elemento dentro de uma caixa, ou, o elemento está com o ponteiro do mouse em cima dele

        -Pseudo-classes começam com 2 pontos seguidos do nome da pseudo class
            ":pseudo-class-name"

    ?Selecionando elementos com pseudo-classes
        *-first-child
        *-:nth-of-type()
        *-:nth-child()

    ?Ações do usuário
        *-hover
        *-focus

    ?Atributos
        *-disabled
        *-required

    https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
*/

/* first-child (Ele PRECISA ser o primeiro item para que o first-child funcione) */
article h3:first-child {
  font-weight: bold;
  color: brown;
}

/* nth-of-type (Escolhemos qual paragráfo mudar entre parentheses) */
article p:nth-of-type(2) {
  color: blue;
}

/* nth-child (Vai começar a contar os filhos do ARTICLE e nesse caso, o primeiro CHILD seria o H3 não o P, por isso temos que colocar o número 2 para mudar o primeiro P) */
article p:nth-child(2) {
  color: cornflowerblue;
}

/* 
nth-child even & odd (even vai mudar apenas os pares e even vai mudar apenas os ímpares)
    ?article p:nth-child(even/odd) {
    ?color: cornflowerblue;
    ?}
*/
