/*
    Adicionando CSS

        -Inline
            *atributo style="" direto no HTML (Não recomendado)
=============================================================================================
        -<style>
            *tag HTML que irá conter o CSS (Usada no <head> do HTML)
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <style>
            h1 {
                color:green;
            }

            strong {
                color:yellow;
            }
        </style>
</head>
===========================================================================================        
        -<link>
            *arquivo CSS externo;
                <link rel="stylesheet" href="style.css">

        -Import
            *arquivo CSS interno; (De preferencia usar <link> ao em vez de @import, o motivo é que @import faz a pesquisa no site demorar mais para responder);

*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

h1{
    color: green;
    font-family: 'Zen Loop', cursive;
}

strong{
    color: yellow;
}