/*
    Shorthand, o que é?
        -Junção por propriedade;
        -Resumido;
        -Legível;

?    Detalhes
        -Não irá considerar propriedades anteriores;
        -Valores não especificados irão assumir o valor padrão;
        -Geralmente, a ordem descrita não importa, mas se houver muitas propriedades com valores semelhantes, podemos encontrar problemas;

?    Propriedades que aceitam shorthand:
        -https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties
====================================================================================================

    CSS
    {
!        background properties
        background-color: #0000;
        background-image: url(images/teste.png);
        background-repeat: no-repeat;
        background-position: left top;

?        background shorthand
        background: #000 url(images/teste.png) no-repeat left top;
====================================================================================================

!        font properties
        font-style:italic;
        font-weight:bold;
        font-size:.8em;
        line-height: 1.2;
        font-family: "Arial, sans-serif";
    
?        font shorthad
        font: italic bold .8m/12 Arial, sans-serif;
====================================================================================================
*/
