/* ?Resetando as configurações do user agent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}

/* !HEADER */

/* !MAIN */
body{
  background: #f0f2f5
}

/* !FOOTER */
