/* ?Resetando as configurações do user agent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}

/* !HEADER */
header {
  background: #2d4a22;

  padding: 2rem 0 10rem;

  text-align: center;
}

header h1#logo {
  color: #fff;
  font-weight: 100;
}
/* !MAIN */
.container {
  width: 300px;

  margin: auto;
}

body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

/* !FOOTER */
.footer {
  text-align: center;
}
