/* ?Resetando as configurações do user agent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}

/* !HEADER */
header {
  background: #2d4a22;
  padding: 2rem;
}

header h1 {
}
/* !MAIN */
body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

/* !FOOTER */
